In [1]:
import pandas as pd

In [6]:
retail_data = pd.read_csv('online_retail.csv', encoding='latin1')

1. Capturar/Imprimir el nombre de las columnas:

In [18]:
columns_names = retail_data.columns
columns_names

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

2. Obtener/Ver el número de filas y columnas

In [ ]:
num_rows, num_columns = retail_data.shape
print('Numero de filas: ', num_rows)
print('Numero de columnas: ', num_columns)

Numero de filas:  541909
Numero de columnas:  8

3. Capturar alguna de las columnas para hacer un análsis:

In [22]:
daily_sales = retail_data['Quantity']
daily_sales # Imprime todos los valores de la columna Quantity
daily_sales[2] # Imprime el valor de la fila de índice 2 en esta columna

8

4. También se puede obtener una descripción estádistica completa de aquellas columnas que tienen dato del tipo número.

In [ ]:
summary = retail_data.describe()
summary # Devuelve estas únicas 3 columnas ya que son las únicas con tipo de dato númerico

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

5. Podemos obtener un dato específico de una columna en particular. En este obtendré la 'media', utilizando la variable 'daily_sales', la cual tiene guardados los datos de la columa 'Quantity':

In [ ]:
mean_value = daily_sales.mean()
mean_value

9.55224954743324

6. Ahora obtengo la 'mediana':

In [28]:
median_value = daily_sales.median()
median_value

3.0

7. Suma total de los datos de la columna en cuestión:

In [29]:
sum_value = daily_sales.sum()
sum_value

5176450

8. Conteo de la columa de ventas diaras 'daily_sales':

In [30]:
count_values = daily_sales.count() # No toma en cuenta los valores nulos, solo cuenta los valores NO nulos.
count_values

541909

----

**Vamos a explorar algunas funciones de resumen y estadísticas que podemos utilizar con nuestro DataFrame.**

- **Uso de describe() para obtener un resumen estadístico.**

In [ ]:
# Resumen estadístico
summary = retail_data.describe()
print(summary)

Resumen estadístico:\n             Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

- **Cálculo de Media**

In [8]:
mean_value = retail_data['Quantity'].mean()
print("Media de Quantity:", mean_value)

Media de Quantity: 9.55224954743324

- **Cálculo de Mediana**

In [9]:
median_value = retail_data['Quantity'].median()
print("Mediana de Quantity:", median_value)

Mediana de Quantity: 3.0

- **Suma**

In [10]:
total_sum = retail_data['Quantity'].sum()
print("Suma de Quantity:", total_sum)

Suma de Quantity: 5176450

- **Conteo de valores**

In [11]:
count_values = retail_data['Quantity'].count()
print("Conteo de Quantity:", count_values)

Conteo de Quantity: 541909

- **Desviación estándar**

In [12]:
std_dev = retail_data['Quantity'].std()
print("Desviación estándar de Quantity:", std_dev)

Desviación estándar de Quantity: 218.08115784986612

- **Varianza**

In [13]:
variance = retail_data['Quantity'].var()
print("Varianza de Quantity:", variance)

Varianza de Quantity: 47559.39140913822

- **Mínimo**

In [14]:
min_value = retail_data['Quantity'].min()
print("Mínimo de Quantity:", min_value)

Mínimo de Quantity: -80995

- **Máximo**

In [15]:
max_value = retail_data['Quantity'].max()
print("Máximo de Quantity:", max_value)

Máximo de Quantity: 80995

- **Producto**

In [16]:
prod_value = retail_data['Quantity'].prod()
print("Producto de Quantity:", prod_value)

Producto de Quantity: 0