Seleccionar datos es una operación fundamental en cualquier análisis de datos. En Pandas, las dos formas más comunes de seleccionar datos son ***iloc*** y ***loc**.

***iloc*** nos permite extraer la info mediante el índice [i]

***loc*** también nos permite acceder a la información pero especificando la etiqueta ['filas', 'columnas']

In [1]:
import pandas as pd

In [2]:
retail_data = pd.read_csv('online_retail.csv', encoding='latin1')

1. Imprimimos cada una de las columas y la información de la primera fila ([0]) -> posición 0:

In [4]:
first_row = retail_data.iloc[0]
first_row

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                          12/1/10 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

2. Imprimimos las primeras 5 filas:

In [5]:
first_five_row = retail_data.iloc[6:8]
first_five_row

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/10 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/10 8:28,1.85,17850.0,United Kingdom

3. También puedo generar un subset -> imprimir una cierta cantidad de filas y una cierta cantidad de columnas:

In [6]:
subset = retail_data.iloc[:3, :2] # Imprimo las tres primeras filas y las 2 priemeras columnas
subset

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B

4. Podemos utilizar 'loc' especificando una etiqueta para extraer una porción del df:

In [ ]:
quantity_column = retail_data.loc[:, 'Quantity'] # Imprime toda la columa Quantity
quantity_column

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

5. También puedo seleccionar más de una columna. En este ejemplo, sumamos otra más al ejemplo anterior:

In [9]:
quantity_unitprices_columns = retail_data.loc[:, ['Quantity', 'UnitPrice']] # Toda la columa Quantity
quantity_unitprices_columns

        Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541904        12       0.85
541905         6       2.10
541906         4       4.15
541907         4       4.15
541908         3       4.95

[541909 rows x 2 columns]